################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugins/Nop.Plugin.Widgets.RainsAd/obj/Debug
*.cache
